@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Portfolio";
}



<div id="main-images">
    <div class="grid-noGutter_large-3_medium-2_small-1">
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Moby.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-moby", "Moby")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Balance-Bike.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-balance", "Balance Bike")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Neon.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-neon", "Neon")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Yvolution-Refresh.cshtml">
                <img src="~/img/main/main-yvolution refresh_high-res.png" alt="Yvolution Refresh" />
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-North-Face.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-north-face", "North Face")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Onepoint.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-onepoint", "Onepoint")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Smoothie-King.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-smoothie-king", "Smoothie King")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Taylor-Prunes.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-taylor", "Taylor Prunes")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-7even.cshtml">
                @Helpers.MainPageImageHelper("img/main/main-7even", "7even")
            </a>
        </div>
        <div class="col cell main-page-image-holder">
            <a href="~/Project-Born-In-Ireland.cshtml">
                <img src="~/img/main/main-born-in-ireland_high-res.png" alt="Born in Ireland" />
            </a>
        </div>
    </div>
</div>